@font-face {
    font-family: 'basker-bold';
     src: url('./fonts/Libre_Baskerville/LibreBaskerville-Bold.ttf') format("truetype");
}

@font-face {
    font-family: 'basker-italic';
     src: url('./fonts/Libre_Baskerville/LibreBaskerville-Italic.ttf') format("truetype");
}

@font-face {
    font-family: 'basker-regular';
     src: url('./fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf') format("truetype");
}