@import '../../shared/theme/app.scss';
.confirmation-modal-container {
	// width: 100%;
	// max-width: 90%;
	@include respond-at-max(480px) {
		// max-width: 97%;
	}
	.modal-content {
		// background-color: rgba(0,0,0, 0.8);
		// border-radius: 10px;
		// border: 0 !important;
		// height: 90vh;
		// overflow-y: auto;
		// background: $light-color;
	}
	.confirmation-wrapper {
		position: relative;
		// background: $light-color;
		padding: 20px 10px 10px;
			.times-icon {
				position: absolute;
				top:0;
				right: 0;
				color: gray;
				z-index: 1;
				transition: .2s;
				&:hover {
					color: $yellow-color;
					cursor: pointer;
				}
				.icon {
					font-size: 22px;
				}
			}
			.message {
				font-family: basker-regular;
				text-align: center;
				font-size: 18px;
				padding: 25px 0;
			}
			.buttons-wrapper {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				margin: 20px 0 15px;
				.action-button {
					padding: 5px 15px;
					border-radius: 2px;
					color: white;
					font-family: basker-regular;
					cursor: pointer;
					&.delete {
						background-color: #d9534f;
						margin-left: 5px;
					}
					&.cancel {
						background-color: $blue-color;
					}
				}
			}
	}
}