@import '../../shared/theme/app.scss';
.FriendsPanel{
    
    &--title{
        margin-bottom: 20px;
    }

    .ui.fluid.pointing.secondary.menu {
        overflow-x: unset !important;
    }

    .ui.segment{
        border: none !important;
        box-shadow: none !important;
    }
    @include respond-at-max(480px) {
        .ui.grid {
            .row {
                flex-direction: row;
                .column {
                    width: 100% !important;
                }
            }
        }
    }
    .friends-tab {
        display: flex;
        flex-direction: row;
        align-items: center;
        @include respond-at-max(480px) {
            // flex-direction: column;
        }
        .user-link {
            text-decoration: none;
            color: black;
            font-family: basker-regular;
            font-size: 12.5px;
            &:hover {
                color: $blue-color;
            }
        }
    }
}
