@import '../../shared/theme/app.scss';
.forum-view-container {
	.forum-view-inner-container {
		background: $light-color;
		height: 100%;
		min-height: 100vh;
		padding: 80px 100px 50px;
		@include respond-at-max(1024px) {
			padding: 50px 20px 50px;
		}
		/*@include respond-at-max(768px) {
			padding: 50px 20px 50px;
		}
		@include respond-at-max(480px) {
			padding: 50px 20px 50px;
		}*/

		.forum-view-comments {
			.title-comment-row {
				margin-bottom: 20px;
				padding-top: 10px;
				padding-bottom: 10px;
				&.top-row {
					/*border-bottom: 4px solid $yellow-color;*/
					/*-moz-box-shadow: 0px 0px 10px 2px #ccc;
		            -webkit-box-shadow: 0px 0px 10px 2px #ccc;
		            box-shadow: 0px 0px 10px 2px #ccc;
		            border-radius: 10px;*/
				}
				.user-avatar-wrapper {
					display: flex;
					flex-direction: column;
					/*justify-content: center;*/
					align-items: center;
					/*background: red;*/
					.avatar {
						width: 60px;
						height: 60px;
						border-radius: 50%;
					}
					.topic-author {
						text-decoration: none;
						color: black;
						text-align: center;
						margin: 10px 0px 5px;
						.church-title {
							font-family: basker-bold;
							font-size: 13px;
						}
						.user-name {
							font-family: basker-regular;
							font-size: 13px;
							transition: .3s;
							&:hover {
								color: $blue-color;
								font-size: 13.3px;
							}
						}
					}
					.date {
						font-family: basker-italic;
						font-size: 12px;
						color: gray;
					}
				}
				.user-comment-wrapper {
					/*padding-top: 10px;*/
					padding-bottom: 10px;
					.post-title {
						font-family: basker-bold;
						font-size: 22px;
						/*background: red;*/
						text-align: center;
						border-left: 6px solid $purple-color;
						/*background:rgba(255,255,255, 0.7);*/
						background: #FFFAFA;
						padding: 7px;
						@include respond-at-max(768px) {
							font-size: 20px;
						}
						@include respond-at-max(480px) {
							font-size: 16px;
							margin-top: 10px;
						}
					}
					.post-body {
						font-family: basker-regular;
						font-size: 14px;
						text-align: justify;
						margin-top: 20px;
					}
				}
			}
			.row-separator {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				margin: 40px 0 30px;
				.separator {
					height: 3px;
					background: $purple-color;
					width: 30%;
					@include respond-at-max(1024px) {
						width: 40%;
					}
					@include respond-at-max(480px) {
						width: 45%;
					}
				}
				.separator-label {
					font-family: basker-bold;
					font-size: 16px;
					margin: 0 8px 0;
					/*border-bottom: 3px solid $yellow-color;*/
				} 
			}
			.no-reply {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center;
				padding: 20px 0px 20px;
				font-family: basker-regular;
				font-size: 16px;
			}
		}
		.reply-form-wrapper-row {
			margin-top: 100px;
			width: 75%;
			margin: 100px auto 0;
			@include respond-at-max(1024px) {
				width: 90%;
			}
			@include respond-at-max(480px) {
				width: 95%;
			}
			.input-field {
				.label {
					font-family: basker-bold;
					font-size: 15px;
					margin-bottom: 10px;
				}
				.text-area {
					width: 100%;
					border: 1px solid lightgray;
				    border-radius: 5px;
				    padding: 10px 20px 0px;
				    &:focus {
				    	outline: none;
				    	box-shadow: 0 0 3px 0 $purple-color;
				    }	
				}
			}
			.button-wrapper {
				margin-top: 10px;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				@include respond-at-max(480px) {
	            	flex-direction: column;
	            }
				/*align-items: center;*/
				.field-error {
					color: red;
					font-family: basker-regular;
					font-size: 13px;
				}
				.ui.button {
					background: $purple-color;
					color: white;
					transition: .5s;
					@include respond-at-max(480px) {
		            	margin-top: 10px;
		            }
					&:hover {
						background: $yellow-color;
						color: black;
					}
				}
			}
		}
	}
}